.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: aqua;
  color: orange;
  height: 50px;
  font-size: 25px;
}
.header div{
  padding: 0px;
}
.header div:hover{
  cursor: pointer;
}
.active{
  color:red;
}
